<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedo_Market_players</title>
    <link rel="stylesheet" href="index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=
      Kaushan+Script|
      Montserrat:400,700&amp;subset=cyrillic-ext"
      rel="stylesheet"
    />
  </head>
  <header class="header">
    <div class="container">
      <div class="header_inner">
        <div class="logo">
          Pedo Market
        </div>
        <div class="search_form">
        <form action="" method="get">
          <input  name ="s" placeholder="Search product...." type="search" class="search-box">
          <button type= "submit" class="Btn_search">Search</button>
        </form>
       </div>
          <nav class="nav_link">
            <a class="nav__link" href="#">Order</a>
            <a class="nav__link" href="#">basket</a>
            <a class="nav__link" href="#">favorites</a>
            <a class="nav__link" href="#">Chat</a>
            <a class="nav__link" href="#">Profile</a>
          </nav>
      
          
        </div>
      </div>
    </div>
  </header>
  <body>
    
  </body>
</html>
