*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: mo;
  background-color: #f0f0f0; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 
}

.Container{
    width: 100%;
    max-width: 1200px;
    margin:  0 auto;
    display: flex;
}
.nav{
    font-size: 40px;
    text-transform: uppercase;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    position: relative;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
    padding-bottom: 5px;
}
.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #567e7c;
    display: none;
    position:absolute ;
    top:100%;
    left:0;
    z-index: 1;
}
.nav__link:hover{
    color: #567e7c;

}
.nav__link:hover:after{
  display: block;
}
.pop_up {
  position: relative;
  display: inline-block;
  
}
.pop_up_nav{
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    position: relative;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
    padding-bottom: 5px;
    user-select: none;
    
}
.pop_up_nav:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #567e7c;
    display: none;
    position:absolute ;
    top:100%;
    left:0;
    z-index: 1;
}
.pop_up_nav:hover{
    color:#567e7c;
}
.pop_up_nav:hover::after{
    display: block;
}

  
  
header{
  background-color:#fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
    padding-top: 10px;
    width: 100%;
    top: 0;
    left: 0;
    right:0;
    z-index: 1000;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
    
}
.nav{
    font-size: 16px;
    text-transform: uppercase;
}
.logo{
    font-size: 50px;
    font-weight: 700;
    color: #567e7c;
    margin-left: 0 ;
}
/*Search*/
.search_container{
             width: 100%;
             max-width: 600px;
             display: flex;
             font-size: 16px;
             width: 600px;
             background: #567e7c;
             padding: 5px;
             border-radius: 15px;
         }
.search_txt{
    border:white;
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #567e7c;
    border-radius: 10px;
    font-size: 16px;

}
.search_btn {
    padding: 10px 20px;
    background-color: #567e7c;
    border: none;
    color: #567e7c;

    border: none;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}
        /*drop_down*/
        .dropdown-content {
          pointer-events: none;
            display: none;
            position: absolute;
            top: 100%;
            left:  0;
            background-color: #fff;
            border-radius: 40px;
            min-width: 00px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.1);
            border-radius: 4px;
            z-index: 100;
            opacity: 0;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
        .dropdown-content a {
            color: #333;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            transition: background-color 0.3s;
            border-bottom: 1px solid #f0f0f0;
        }
        .dropdown-content a:hover {
            background-color: #f8f8f8;
            color: #567e7c;
        }
        .pop_up.active .dropdown-content {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }
      
        
         .pop_up.active .pop_up_nav::before {
            transform: rotate(180deg);
        }
        /*Scrolss*/
.dropdown-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 600px; 
  gap: 8px;
  padding: 8px 0;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
.dropdown-content a {
  padding: 10px 20px;
  background: #f5f5f5;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.dropdown-content::-webkit-scrollbar {
  width: 6px;
}

.dropdown-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*Container_products*/

.cards {
  display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  width: 100%;
  margin: 20px;
  column-gap: 30px; 
  row-gap: 40px;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
 .card {
  width: 280px;
  min-height: 350px;
  margin-top: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  transition: 0.2s;
  background-color: white;
  overflow: hidden;
  font-family: sans-serif;
}

.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 250px;
  position: relative;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s ease;
}

.card__image:hover img {
  transform: scale(1.05);
}

.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 30px;
  margin-left: 5px;
  color: #fff;
  background-color: #a88989;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card__prices {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 8px;
   justify-content: flex-end;
}

.card__price {
  position: relative;
}

.card__price::after {
  content: "₽";
  margin-left: 2px;
  font-size: 14px;
}

.card__price--discount {
  font-weight: bold;
  font-size: 16px;
  color: #2c9e41;
  
}

.card__price--common {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
  margin-right: 160px;
}

.card_title {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  margin-left: 5px;
}

.favorites {
  align-self: flex-start;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
}
.favorites {
  position: absolute;
  top: 8px;
  right: 3px;
  padding: 6px 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.2s;
}

.favorites:hover {
  background-color: #7c0f0f;
}
/*Regisration*/
.wrapper{
  width: 420px;
  background: #567e7c;
  color: #fff;
  padding: 30px 40px;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: solid rgba(255, 102, 51, 0.2);
  border-radius: 40px;
  font-size: 15px;
  color: #fff;
  padding: 20px 45px 20px 20px;

}
.input-box input::placeholder{
  color: #fff;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper .remember{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px ;
}
.remember label input{
  accent-color: #fff;
  margin-right: 5px;
}
.remember a{
  color: #fff;
  text-decoration: none;
  
}
.remember a:hover{
  text-decoration: underline;
}
.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 45px;
  box-shadow: 0 0 10px rgb(0,0,0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.wrapper .register_link{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.register_link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register_link p a:hover{
  text-decoration: underline;
  color: #aebebd;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.auth-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.auth-modal.active {
  display: flex; 
  opacity: 1;   
}

.auth-modal-content {
  padding: 20px;
  border-radius: 8px;

  transform: translateY(-20px); 
  transition: transform 0.3s ease; 
}

.auth-modal.active .auth-modal-content {
  transform: translateY(0); 
}
.terms-content{
  margin-left: 20px ;
}
.show-forgot-link{
 color: #333;
 margin-top: 20px;
  
}
.show-register-link{
  color: #333;
  padding-top: 20px;
}
.show-login-link{
  color: #333;
}
.user_agree{
  color: #333;
}